@model IEnumerable<OTeaching.Models.StaffViewModel>
@{
    ViewBag.Title = "StaffReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>STAFF REPORTS -</h2>
<hr />

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Staff Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">PinCode</th>
                <th scope="col">Qualification</th>
                <th scope="col">Experiance</th>
                <th scope="col">Branch</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
            <tr>
                <td scope="row">@staff.Image</td>
                <td>@staff.Name</td>
                <td>@staff.Mobile</td>
                <td>@staff.Address</td>
                <td>@staff.City</td>
                <td>@staff.Pincode</td>
                <td>@staff.Qualification</td>
                <td>@staff.Experience</td>
                <td>@staff.CName</td>
                <td><a href="#" onclick="deleteStaff(@staff.SID">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>There is no record found.</h3>
}

<script>
    function deleteStaff(sid) {
        $.ajax();
    } 
</script>

